* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.app-container {
    background-color: gray;

}

.container {
    display: flex;
    justify-content: space-between;
    padding: 3em;
}

.headingDiv {
    
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    
}

.headingDiv h1 {
    color: goldenrod;
    font-size: 3em;
}

.headingDiv p {
    align-self: flex-start;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}

.scoreDiv {
    padding-top: 1.5em;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
}

.score {
    align-self: flex-start;
}

.score, .best-score {
    font-weight: bold;
    font-size: 1.5em;
    color: goldenrod;
}

.score span, .best-score span{
    color: black;
}


.pokemon-outer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 1em;
    background-color: rgb(46, 44, 44);
    
}

.pokemon {
    
    border: 2px solid goldenrod;
    /*padding: 1em;*/
    border-radius: 10px;
    text-align: center;
}

.pokemon:hover {
    box-shadow: 2px 1px 1px 2px goldenrod;
}

.pokemon p{
    background-color: rgb(160, 116, 6);
    width: 100%;
    padding: 2em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1.5em;
    
}

.pokemon .image {
    background-color: gray;
    display: block;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0 auto;
    
}